### Setup Libraries

In [1]:
# https://docs.sleeper.app/#introduction
import pandas as pd
import requests
import sqlite3

### Setup API Calls

In [2]:
UserId = "499807936168587264"
Sport = "nfl"
LeagueId = "859990766557179904"

In [3]:
#get data for current nfl week/season
nfl_state_url = f'https://api.sleeper.app/v1/state/{Sport}'
nfl_state = requests.get(nfl_state_url).json()
Week = nfl_state['week']
Season = nfl_state['season']
# nfl_state

In [4]:
#setup urls for API calls
user_url = f'https://api.sleeper.app/v1/user/{UserId}'
league_users_url = f'https://api.sleeper.app/v1/league/{LeagueId}/users'
transactions_url = f'https://api.sleeper.app/v1/league/{LeagueId}/transactions/{Week}'
rosters_url = f'https://api.sleeper.app/v1/league/{LeagueId}/rosters'
players_url = 'https://api.sleeper.app/v1/players/nfl'

### Get League Users Info

In [5]:
response = requests.get(league_users_url)

In [6]:
league = response.json()
# league

In [7]:
#convert to dataframe
league_df = pd.DataFrame(league)

In [8]:
#convert metadata column to separate columns
league_metadata = pd.json_normalize(league_df['metadata'])

In [9]:
#concatenate metadata columns to league data
league_df = pd.concat([league_df, league_metadata], axis=1)

In [10]:
# league_df

In [11]:
#fill team name based on username if missing
league_df['team_name'] = league_df['team_name'].fillna(league_df['display_name'])

In [12]:
league_df

,user_id,settings,metadata,league_id,is_owner,is_bot,display_name,avatar,team_name,mention_pn,...,trade_block_pn,join_voice_pn,user_message_pn,transaction_commissioner,transaction_free_agent,transaction_trade,transaction_waiver,player_like_pn,mascot_message,player_nickname_update
0,499807936168587264,None,"{'team_name': 'KnightHawks', 'mention_pn': 'on...",859990766557179904,True,False,EAGLEi,e509f18787482ccd84ae83d0976f9d55,KnightHawks,on,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,741506726259523584,None,"{'team_name': 'MeNajee Trois', 'mention_pn': '...",859990766557179904,False,False,menty,15d7cf259bc30eab8f6120f45f652fb6,MeNajee Trois,on,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,741517785796116480,None,"{'team_name': 'Great Britton', 'show_mascots':...",859990766557179904,False,False,Wotastic,a35038904664ff0d447f3eba9c3a2398,Great Britton,on,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,860010058744963072,None,"{'mascot_item_type_id_leg_6': 'panpan', 'masco...",859990766557179904,True,False,skwichmer,d58d89cf3f7f98918ae1ba4e558a94de,Resident Stevil,on,...,on,off,off,on,on,on,on,on,on,off
4,860010803301076992,None,"{'team_name': 'War Machine', 'mention_pn': 'on...",859990766557179904,False,False,JimmerzK,76a35a84af0ea9e4f13dca9c2f13611f,War Machine,on,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,860011165475012608,None,"{'team_name': 'Healthy Scratch ', 'show_mascot...",859990766557179904,False,False,HealthyScratch7,37259ac49f7d87ac18c6acfaba1e47a8,Healthy Scratch,on,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,860019033666338816,None,"{'team_name': 'Hair Force Blue', 'mention_pn':...",859990766557179904,False,False,AmmoMike,4f4090e5e9c3941414db40a871e3e909,Hair Force Blue,on,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,860042136979128320,None,"{'team_name': 'Monarchs', 'mention_pn': 'on', ...",859990766557179904,False,False,rightofcenter77,8eb8f8bf999945d523f2c4033f70473e,Monarchs,on,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,860214724221087744,None,"{'mention_pn': 'on', 'avatar': 'https://sleepe...",859990766557179904,False,False,RLTHAWKS,4f4090e5e9c3941414db40a871e3e909,RLTHAWKS,on,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,860373364768874496,None,"{'user_message_pn': 'off', 'transaction_waiver...",859990766557179904,False,False,werkmonsters,8eb8f8bf999945d523f2c4033f70473e,Werkmonsters,on,...,off,off,off,off,off,off,off,off,off,off
10,860612709442498560,None,"{'team_name': 'Redskins', 'show_mascots': 'off...",859990766557179904,False,False,twichmer,f02ffbb14a6c052ec139ba0747206aa6,Redskins,on,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# col = league_df.columns.to_list()
# col
new_col = ['user_id',
 'settings',
 'metadata',
 'league_id',
 'is_owner',
 'is_bot',
 'display_name',
 'avatar1',
 'team_name',
 'mention_pn',
 'avatar2',
 'allow_sms',
 'allow_pn',
 'show_mascots',
 'mascot_message_emotion_leg_1',
 'mascot_item_type_id_leg_9',
 'mascot_item_type_id_leg_8',
 'mascot_item_type_id_leg_7',
 'mascot_item_type_id_leg_6',
 'mascot_item_type_id_leg_5',
 'mascot_item_type_id_leg_4',
 'mascot_item_type_id_leg_3',
 'mascot_item_type_id_leg_2',
 'mascot_item_type_id_leg_18',
 'mascot_item_type_id_leg_17',
 'mascot_item_type_id_leg_16',
 'mascot_item_type_id_leg_15',
 'mascot_item_type_id_leg_14',
 'mascot_item_type_id_leg_13',
 'mascot_item_type_id_leg_12',
 'mascot_item_type_id_leg_11',
 'mascot_item_type_id_leg_10',
 'mascot_item_type_id_leg_1',
 'team_name_update',
 'trade_block_pn',
 'join_voice_pn',
 'user_message_pn',
 'transaction_commissioner',
 'transaction_free_agent',
 'transaction_trade',
 'transaction_waiver',
 'player_like_pn',
 'mascot_message',
 'player_nickname_update']

In [14]:
league_df.columns = new_col

### setup sqlite database

In [15]:
conn = sqlite3.connect('players.db')

### Get Players

In [16]:
players = requests.get(players_url).json()

In [17]:
players_df = pd.DataFrame(players)
players_df

,2103,6250,4116,8465,6177,5870,4297,1347,5381,1023,...,356,7826,3679,8044,241,3684,3252,7459,5135,3086
practice_participation,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
pandascore_id,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
team,None,None,None,SF,KC,NYG,None,None,None,None,...,None,None,None,SEA,None,None,WAS,None,None,None
hashtag,#codybooth-NFL-FA-60,#eurndrausbryant-NFL-FA-0,#antoniogarcia-NFL-FA-0,#spencerburford-NFL-SF-74,#khalensaunders-NFL-KC-99,#danieljones-NFL-NYG-8,#jarnorjones-NFL-FA-0,#chrisgragg-NFL-FA-87,#johnnytownsend-NFL-FA-0,#mikepouncey-NFL-FA-0,...,#reymaualuga-NFL-FA-58,#jamarjohnson-NFL-FA-41,#marioojemudia-NFL-FA-42,#isaiahdunn-NFL-SEA-24,#spencerlarsen-NFL-FA-46,#derekkeaton-NFL-FA-18,#kendallfuller-NFL-WAS-29,#rashodberry-NFL-FA-56,#saeedblacknall-NFL-FA-80,#tomcoughlin-NFL-FA-0
metadata,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,{'injury_override_regular_2020_5': 'COV'},None,None
fantasy_data_id,16426,21183,18962,None,20934,20841,19145,14866,19995,13698,...,8441,None,18479,None,6047,18484,18013,22436,20073,17836
birth_date,1991-04-22,None,1993-12-10,2000-07-19,1996-08-09,1997-05-27,1994-04-29,1990-06-30,1995-02-14,1989-07-24,...,1987-01-20,1999-11-22,1994-05-30,1999-01-31,1984-03-04,1994-04-10,1995-02-13,1996-10-14,1996-03-17,None
last_name,Booth,Bryant,Garcia,Burford,Saunders,Jones,Jones,Gragg,Townsend,Pouncey,...,Maualuga,Johnson,Ojemudia,Dunn,Larsen,Keaton,Fuller,Berry,Blacknall,Coughlin
birth_country,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
depth_chart_position,None,None,None,RG,LDT,QB,None,None,None,None,...,None,None,None,RCB,None,None,LCB,None,None,None
stats_id,None,None,None,None,None,879981,None,465638,748627,None,...,None,None,None,None,None,None,None,None,835780,None
rotowire_id,9866,None,11794,16062,13746,13491,None,8788,12777,7548,...,6081,15382,11310,15548,None,11659,11038,14851,13028,None
gsis_id,None,None,00-0033922,None,00-0035656,00-0035710,None,None,00-0034684,00-0027953,...,None,None,None,None,None,None,00-0033084,None,00-0034170,None
first_name,Cody,Eurndraus,Antonio,Spencer,Khalen,Daniel,Jarnor,Chris,Johnny,Mike,...,Rey,Jamar,Mario,Isaiah,Spencer,Derek,Kendall,Rashod,Saeed,Tom
espn_id,17054,3916426,2972820,None,3121634,3917792,3892776,15940,3054971,13974,...,12455,None,None,None,None,None,3045465,3915508,3116155,None
depth_chart_order,None,None,None,1,2,1,None,None,None,None,...,None,None,None,3,None,None,1,None,None,None
fantasy_positions,[OL],[DL],[OL],[OL],[DL],[QB],[LB],[TE],[P],[OL],...,[LB],[DB],[DL],[DB],[RB],[WR],[DB],[LB],[WR],None
status,Inactive,Inactive,Inactive,Active,Active,Active,Active,Inactive,Active,Injured Reserve,...,Inactive,Active,Inactive,Active,Inactive,Inactive,Active,Active,Inactive,Inactive
years_exp,1,0,5,0,3,3,5,7,4,11,...,11,1,0,1,6,0,6,2,4,0
position,OT,DT,OT,OL,DT,QB,ILB,TE,P,C,...,LB,DB,DE,DB,RB,WR,CB,LB,WR,None
search_full_name,codybooth,eurndrausbryant,antoniogarcia,spencerburford,khalensaunders,danieljones,jarnorjones,chrisgragg,johnnytownsend,mikepouncey,...,reymaualuga,jamarjohnson,marioojemudia,isaiahdunn,spencerlarsen,derekkeaton,kendallfuller,rashodberry,saeedblacknall,tomcoughlin
swish_id,None,None,None,1123542,831799,879981,None,None,748627,None,...,None,1126264,None,1066294,None,None,742419,878777,None,None
player_id,2103,6250,4116,8465,6177,5870,4297,1347,5381,1023,...,356,7826,3679,8044,241,3684,3252,7459,5135,3086
rotoworld_id,None,None,12247,None,None,13963,None,None,None,6478,...,5205,None,None,None,None,None,11294,None,None,8356
practice_description,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
weight,285,330,302,300,324,230,210,244,194,298,...,258,197,252,193,243,183,198,255,212,
sportradar_id,4cd4976e-e230-4935-ad3f-c12876a41350,9ff46edb-988f-4c8a-ad56-0502808ca1a6,a2b6e1f9-1f06-45e3-b6e9-79ec8490e5ef,129815b7-f914-4155-b8e3-e93021670dd7,757c55e1-2f3a-41d2-a211-16bf577a1586,0042266b-cb28-4012-bfd2-06650badad97,508a854c-2fc5-47e1-9376-0151f45963c1,36521d92-2c2c-4ae4-9b60-9928c3167e30,2eb0706c-3017-4895-a207-71d6fe9e1549,041c36ad-0d7d-4ed1-8157-95092b3027a4,...,822c1d36-9b42-4cfd-86bf-c83d0c71571c,a2f1a595-4454-465e-a190-0312a2ea3acc,,97357c21-9d25-4a8a-a066-be6dad0e8a7f,,,81ba31db-e21a-4944-8d0f-4e12cb83e3c4,17a17a1a-787d-46b3-94c0-8d4e1928c492,6427f177-527b-435a-bcd1-27cf913f7e24,
full_name,Cody Booth,Eurndraus Bryant,Antonio Garcia,Spencer Burford,Khalen Saunders,Daniel Jones,Jarnor Jones,Chris Gragg,Johnny Townsend,Mike Pouncey,...,Rey Maualuga,Jamar Johnson,Mario Ojemudia,Isaiah Dunn,Spencer Larsen,Derek Keaton,Kendall Fuller,Rashod Berry,Saeed Blacknall,Tom Coughlin
sport,nfl,nfl,nfl,nfl,nfl,nfl,nfl,nfl,nfl,nfl,...,nfl,nfl,nfl,nfl,nfl,nfl,nfl,nfl,nfl,nfl
search_first_name,cody,eurndraus,antonio,spencer,khalen,daniel,jarnor,chris,johnny,mike,...,rey,jamar,mario,isaiah,spencer,derek,kendall,rashod,saeed,tom
injury_body_part,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
news_updated,None,None,1560221750273,1651342520523,1643570432730,1662653150633,None,None,1565823938203,1613154322971,...,1511034301079,1636069203633,None,None,None,None,1642087808776,1646969441881,1599503403763,1544380565183
birth_city,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
yahoo_id,27841,32538,30198,None,31916,31838,30454,26845,31143,24802,...,9302,None,29757,None,None,29918,29318,33024,31479,None
search_rank,9999999,9999999,9999999,9999999,9999999,220,9999999,9999999,9999999,9999999,...,9999999,9999999,9999999,9999999,9999999,9999999,9999999,9999999,9999999,9999999
birth_state,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
age,27,None,28,22,26,25,27,30,26,32,...,33,22,24,23,33,24,27,25,25,None
number,60,0,0,74,99,8,0,87,0,0,...,58,41,42,24,46,18,29,56,80,0
college,Temple,North Carolina State,Troy,UTSA,Western Illinois,Duke,Iowa State,Arkansas,Florida,Florida,...,Southern California,Indiana,Michigan,Oregon State,Arizona,Georgia Southern,Virginia Tech,Ohio State,Penn State,None
injury_status,None,NA,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
active,False,False,False,True,True,True,True,False,True,True,...,False,True,False,True,False,False,True,True,False,False
height,"6'5""",73,79,76,72,77,75,"6'3""",73,77,...,"6'2""",73,"6'2""",72,"6'2""","5'10""",71,76,75,
search_last_name,booth,bryant,garcia,burford,saunders,jones,jones,gragg,townsend,pouncey,...,maualuga,johnson,ojemudia,dunn,larsen,keaton,fuller,berry,blacknall,coughlin
injury_start_date,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
injury_notes,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
high_school,None,Fort Dorchester,Charles Drew (GA),Wagner (TX),Parkway Central (MO),Charlotte Latin (NC),Martin Luther King (GA),Warren (AR),Boone (FL),Lakeland (FL),...,Eureka (CA),Riverview (FL),None,Antioch (CA),None,None,Our Lady of Good Counsel (MD),Lorain (OH),Manalapan (NJ),None

In [18]:
#transpose dataframe
players_df = players_df.transpose()

In [19]:
players_df

,practice_participation,pandascore_id,team,hashtag,metadata,fantasy_data_id,birth_date,last_name,birth_country,depth_chart_position,...,age,number,college,injury_status,active,height,search_last_name,injury_start_date,injury_notes,high_school
2103,None,None,None,#codybooth-NFL-FA-60,None,16426,1991-04-22,Booth,None,None,...,27,60,Temple,None,False,"6'5""",booth,None,None,None
6250,None,None,None,#eurndrausbryant-NFL-FA-0,None,21183,None,Bryant,None,None,...,None,0,North Carolina State,NA,False,73,bryant,None,None,Fort Dorchester
4116,None,None,None,#antoniogarcia-NFL-FA-0,None,18962,1993-12-10,Garcia,None,None,...,28,0,Troy,None,False,79,garcia,None,None,Charles Drew (GA)
8465,None,None,SF,#spencerburford-NFL-SF-74,None,None,2000-07-19,Burford,None,RG,...,22,74,UTSA,None,True,76,burford,None,None,Wagner (TX)
6177,None,None,KC,#khalensaunders-NFL-KC-99,None,20934,1996-08-09,Saunders,None,LDT,...,26,99,Western Illinois,None,True,72,saunders,None,None,Parkway Central (MO)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3684,None,None,None,#derekkeaton-NFL-FA-18,None,18484,1994-04-10,Keaton,None,None,...,24,18,Georgia Southern,None,False,"5'10""",keaton,None,None,None
3252,None,None,WAS,#kendallfuller-NFL-WAS-29,None,18013,1995-02-13,Fuller,None,LCB,...,27,29,Virginia Tech,None,True,71,fuller,None,None,Our Lady of Good Counsel (MD)
7459,None,None,None,#rashodberry-NFL-FA-56,{'injury_override_regular_2020_5': 'COV'},22436,1996-10-14,Berry,None,None,...,25,56,Ohio State,None,True,76,berry,None,None,Lorain (OH)
5135,None,None,None,#saeedblacknall-NFL-FA-80,None,20073,1996-03-17,Blacknall,None,None,...,25,80,Penn State,None,False,75,blacknall,None,None,Manalapan (NJ)
3086,None,None,None,#tomcoughlin-NFL-FA-0,None,17836,None,Coughlin,None,None,...,None,0,None,None,False,,coughlin,None,None,None

In [20]:
# players_df.fantasy_positions.unique
players_df.fantasy_positions.explode().unique()
# .value_counts()

array(['OL', 'DL', 'QB', 'LB', 'TE', 'P', 'DB', 'WR', None, 'RB', 'K',
       'DEF', 'OT', 'LS', 'OG', 'LEO'], dtype=object)

In [21]:
# convert all columns to string
players_df_str = players_df.astype(str)

# drop useless columns
# players_df_str.columns.tolist()
columns_to_drop = ['birth_date', 'college', 'practice_description', 'swish_id', 'news_updated', 'birth_city', 
                   'sportradar_id', 'yahoo_id', 'birth_country', 'espn_id', 'birth_state', 'rotowire_id', 'injury_start_date', 'high_school', 'pandascore_id',
                   'weight',  'injury_body_part', 'depth_chart_order', 'hashtag', 'metadata', 'gsis_id', 'rotoworld_id', 'injury_notes', 'number', 'stats_id',
                   'fantasy_data_id',  'practice_participation', 'height', 'years_exp']
players_df_str = players_df_str.drop(columns_to_drop, axis=1)
players_df_str

,team,last_name,depth_chart_position,first_name,fantasy_positions,status,position,search_full_name,player_id,full_name,sport,search_first_name,search_rank,age,injury_status,active,search_last_name
2103,None,Booth,None,Cody,['OL'],Inactive,OT,codybooth,2103,Cody Booth,nfl,cody,9999999,27,None,False,booth
6250,None,Bryant,None,Eurndraus,['DL'],Inactive,DT,eurndrausbryant,6250,Eurndraus Bryant,nfl,eurndraus,9999999,None,NA,False,bryant
4116,None,Garcia,None,Antonio,['OL'],Inactive,OT,antoniogarcia,4116,Antonio Garcia,nfl,antonio,9999999,28,None,False,garcia
8465,SF,Burford,RG,Spencer,['OL'],Active,OL,spencerburford,8465,Spencer Burford,nfl,spencer,9999999,22,None,True,burford
6177,KC,Saunders,LDT,Khalen,['DL'],Active,DT,khalensaunders,6177,Khalen Saunders,nfl,khalen,9999999,26,None,True,saunders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3684,None,Keaton,None,Derek,['WR'],Inactive,WR,derekkeaton,3684,Derek Keaton,nfl,derek,9999999,24,None,False,keaton
3252,WAS,Fuller,LCB,Kendall,['DB'],Active,CB,kendallfuller,3252,Kendall Fuller,nfl,kendall,9999999,27,None,True,fuller
7459,None,Berry,None,Rashod,['LB'],Active,LB,rashodberry,7459,Rashod Berry,nfl,rashod,9999999,25,None,True,berry
5135,None,Blacknall,None,Saeed,['WR'],Inactive,WR,saeedblacknall,5135,Saeed Blacknall,nfl,saeed,9999999,25,None,False,blacknall
3086,None,Coughlin,None,Tom,None,Inactive,None,tomcoughlin,3086,Tom Coughlin,nfl,tom,9999999,None,None,False,coughlin

In [22]:
all_positions = players_df_str.position.unique().tolist()
positions_to_keep = ['QB', 'RB', 'WR', 'TE','K']
positions_to_drop = [i for i in all_positions if i not in positions_to_keep]
# positions_to_drop

In [23]:
# players_df.loc[players_df['college']=='Temple']
players_final = players_df_str.loc[players_df_str['position'].isin(positions_to_keep)]
# players_final = players_final.loc[players_final['status']=='Active'] #don't do this because it removes suspended players
players_final

,team,last_name,depth_chart_position,first_name,fantasy_positions,status,position,search_full_name,player_id,full_name,sport,search_first_name,search_rank,age,injury_status,active,search_last_name
5870,NYG,Jones,QB,Daniel,['QB'],Active,QB,danieljones,5870,Daniel Jones,nfl,daniel,220,25,None,True,jones
1347,None,Gragg,None,Chris,['TE'],Inactive,TE,chrisgragg,1347,Chris Gragg,nfl,chris,9999999,30,None,False,gragg
3396,None,Peake,None,Charone,['WR'],Inactive,WR,charonepeake,3396,Charone Peake,nfl,charone,1042,29,None,False,peake
6343,None,Wilkins,None,Manny,['QB'],Active,QB,mannywilkins,6343,Manny Wilkins,nfl,manny,9999999,26,None,True,wilkins
8595,WAS,McGowan,None,Kyric,['WR'],Active,WR,kyricmcgowan,8595,Kyric McGowan,nfl,kyric,9999999,22,None,True,mcgowan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3914,None,Collins,None,Dobson,['WR'],Inactive,WR,dobsoncollins,3914,Dobson Collins,nfl,dobson,9999999,31,None,False,collins
7746,LAR,Trammell,None,Austin,['WR'],Active,WR,austintrammell,7746,Austin Trammell,nfl,austin,569,24,None,True,trammell
241,None,Larsen,None,Spencer,['RB'],Inactive,RB,spencerlarsen,241,Spencer Larsen,nfl,spencer,9999999,33,None,False,larsen
3684,None,Keaton,None,Derek,['WR'],Inactive,WR,derekkeaton,3684,Derek Keaton,nfl,derek,9999999,24,None,False,keaton
5135,None,Blacknall,None,Saeed,['WR'],Inactive,WR,saeedblacknall,5135,Saeed Blacknall,nfl,saeed,9999999,25,None,False,blacknall

In [24]:
# players_df
players_final.to_sql("players", conn, if_exists='replace')

In [25]:
players_final.to_csv("all_players.csv")

In [26]:
# create a cursor
c = conn.cursor()

c.execute("select full_name from players where player_id = 5870")
player = c.fetchone()[0]
player

'Daniel Jones'

In [27]:
# drop all players
# c = conn.cursor()

# c.execute("delete from players")
# conn.commit()

### Get Rosters

In [28]:
rosters = requests.get(rosters_url).json()
# rosters

In [29]:
roster_df = pd.DataFrame(rosters)
roster_df

,taxi,starters,settings,roster_id,reserve,players,player_map,owner_id,metadata,league_id,keepers,co_owners
0,None,"[96, 4018, 4866, 6786, 6783, 3214, 6828, 650]","{'wins': 0, 'waiver_position': 4, 'waiver_budg...",1,None,"[3214, 4018, 4866, 5347, 5846, 5857, 5916, 596...",None,499807936168587264,"{'p_nick_6786': '', 'p_nick_6783': 'JJ', 'p_ni...",859990766557179904,None,None
1,None,"[4881, 6790, 4035, 6943, 2449, 1466, 2133, 8258]","{'wins': 0, 'waiver_position': 8, 'waiver_budg...",2,None,"[1466, 1825, 2133, 2449, 3199, 3242, 4035, 488...",None,860010058744963072,"{'restrict_pn_scoring_starters_only': 'on', 'a...",859990766557179904,None,None
2,None,"[1234, 4199, 3664, 7564, 5872, 367, 2309, 391]","{'wins': 0, 'waiver_position': 7, 'waiver_budg...",3,None,"[1067, 1234, 1386, 1476, 2309, 2378, 2391, 316...",None,None,None,859990766557179904,None,None
3,None,"[6770, 7528, 7561, 6801, 5927, 7553, 6151, 1433]","{'wins': 0, 'waiver_position': 5, 'waiver_budg...",4,None,"[1433, 4149, 5185, 5927, 6151, 6768, 6770, 680...",None,741506726259523584,None,859990766557179904,None,None
4,None,"[4984, 5892, 5850, 4039, 7571, 4993, 4040, 6083]","{'wins': 0, 'waiver_position': 12, 'waiver_bud...",5,[5248],"[1339, 1535, 2197, 2306, 4039, 4040, 4147, 498...",None,860612709442498560,None,859990766557179904,None,None
5,None,"[3294, 4034, 4137, 3321, 5045, 5001, 4988, 7839]","{'wins': 0, 'waiver_position': 3, 'waiver_budg...",6,None,"[3294, 3321, 4034, 4037, 4137, 4973, 4981, 498...",None,741517785796116480,None,859990766557179904,None,None
6,None,"[7523, 2749, 7543, 4983, 4068, 6843, 5848, 3451]","{'wins': 0, 'waiver_position': 11, 'waiver_bud...",7,None,"[1352, 1426, 24, 2749, 3451, 4068, 4144, 4983,...",None,860042136979128320,None,859990766557179904,None,None
7,None,"[5849, 6813, 6945, 2216, 5937, 5022, 4985, 4227]","{'wins': 0, 'waiver_position': 9, 'waiver_budg...",8,None,"[2216, 4227, 4985, 5022, 5849, 5890, 5906, 593...",None,860373364768874496,"{'restrict_pn_scoring_starters_only': 'on', 'a...",859990766557179904,None,None
8,None,"[7610, 4663, 4029, 6794, 8144, 4217, 3969, 5095]","{'wins': 0, 'waiver_position': 10, 'waiver_bud...",9,[8154],"[1166, 167, 17, 2431, 3225, 3969, 4017, 4029, ...",None,860214724221087744,None,859990766557179904,None,None
9,None,"[421, 4098, 2320, 1479, 5955, 4033, 2374, 1264]","{'wins': 0, 'waiver_position': 2, 'waiver_budg...",10,None,"[1049, 1264, 1479, 1945, 2320, 2374, 3202, 327...",None,860019033666338816,None,859990766557179904,None,None
10,None,"[4046, 3164, 8138, 6819, 1992, 7600, 7525, 1348]","{'wins': 0, 'waiver_position': 1, 'waiver_budg...",11,None,"[1348, 1689, 1992, 2028, 3164, 4046, 6694, 680...",None,860010803301076992,None,859990766557179904,None,None
11,None,"[6797, 3198, 5000, 5859, 4950, 5012, 6820, 7042]","{'wins': 0, 'waiver_position': 6, 'waiver_budg...",12,[8148],"[2505, 3198, 4950, 5000, 5012, 5086, 5859, 587...",None,860011165475012608,{'p_nick_3198': 'Big Dog'},859990766557179904,None,None

In [30]:
roster_columns = ['starters', 'players', 'roster_id', 'owner_id', 'reserve']
roster_df = roster_df[roster_columns]
roster_df

,starters,players,roster_id,owner_id,reserve
0,"[96, 4018, 4866, 6786, 6783, 3214, 6828, 650]","[3214, 4018, 4866, 5347, 5846, 5857, 5916, 596...",1,499807936168587264,None
1,"[4881, 6790, 4035, 6943, 2449, 1466, 2133, 8258]","[1466, 1825, 2133, 2449, 3199, 3242, 4035, 488...",2,860010058744963072,None
2,"[1234, 4199, 3664, 7564, 5872, 367, 2309, 391]","[1067, 1234, 1386, 1476, 2309, 2378, 2391, 316...",3,None,None
3,"[6770, 7528, 7561, 6801, 5927, 7553, 6151, 1433]","[1433, 4149, 5185, 5927, 6151, 6768, 6770, 680...",4,741506726259523584,None
4,"[4984, 5892, 5850, 4039, 7571, 4993, 4040, 6083]","[1339, 1535, 2197, 2306, 4039, 4040, 4147, 498...",5,860612709442498560,[5248]
5,"[3294, 4034, 4137, 3321, 5045, 5001, 4988, 7839]","[3294, 3321, 4034, 4037, 4137, 4973, 4981, 498...",6,741517785796116480,None
6,"[7523, 2749, 7543, 4983, 4068, 6843, 5848, 3451]","[1352, 1426, 24, 2749, 3451, 4068, 4144, 4983,...",7,860042136979128320,None
7,"[5849, 6813, 6945, 2216, 5937, 5022, 4985, 4227]","[2216, 4227, 4985, 5022, 5849, 5890, 5906, 593...",8,860373364768874496,None
8,"[7610, 4663, 4029, 6794, 8144, 4217, 3969, 5095]","[1166, 167, 17, 2431, 3225, 3969, 4017, 4029, ...",9,860214724221087744,[8154]
9,"[421, 4098, 2320, 1479, 5955, 4033, 2374, 1264]","[1049, 1264, 1479, 1945, 2320, 2374, 3202, 327...",10,860019033666338816,None
10,"[4046, 3164, 8138, 6819, 1992, 7600, 7525, 1348]","[1348, 1689, 1992, 2028, 3164, 4046, 6694, 680...",11,860010803301076992,None
11,"[6797, 3198, 5000, 5859, 4950, 5012, 6820, 7042]","[2505, 3198, 4950, 5000, 5012, 5086, 5859, 587...",12,860011165475012608,[8148]

In [31]:
players_col = ['players', 'roster_id', 'owner_id']
players = roster_df[players_col]
players = players.explode('players')
players = players.rename(columns = {'players':'player_id'}) 
# players = players.set_index('player_id')
# players.to_csv('playerindextest.csv')
players

   player_id  roster_id            owner_id
0       3214          1  499807936168587264
0       4018          1  499807936168587264
0       4866          1  499807936168587264
0       5347          1  499807936168587264
0       5846          1  499807936168587264
..       ...        ...                 ...
11      7042         12  860011165475012608
11      7611         12  860011165475012608
11      8136         12  860011165475012608
11      8146         12  860011165475012608
11      8148         12  860011165475012608

[219 rows x 3 columns]

In [32]:
starting_col = ['starters', 'roster_id', 'owner_id']
starters = roster_df[starting_col]
starters = starters.explode('starters')
starters['is_starter'] = 1
starters = starters.rename(columns = {'starters':'player_id'}) 
# starters = starters.set_index('player_id')

starters

   player_id  roster_id            owner_id  is_starter
0         96          1  499807936168587264           1
0       4018          1  499807936168587264           1
0       4866          1  499807936168587264           1
0       6786          1  499807936168587264           1
0       6783          1  499807936168587264           1
..       ...        ...                 ...         ...
11      5859         12  860011165475012608           1
11      4950         12  860011165475012608           1
11      5012         12  860011165475012608           1
11      6820         12  860011165475012608           1
11      7042         12  860011165475012608           1

[96 rows x 4 columns]

In [33]:
reserve_col = ['reserve', 'roster_id', 'owner_id']
reserves = roster_df[reserve_col]
reserves = reserves.explode('reserve')
reserves['is_reserve'] = 1
reserves = reserves.rename(columns = {'reserve':'player_id'}) 

reserves

   player_id  roster_id            owner_id  is_reserve
0       None          1  499807936168587264           1
1       None          2  860010058744963072           1
2       None          3                None           1
3       None          4  741506726259523584           1
4       5248          5  860612709442498560           1
5       None          6  741517785796116480           1
6       None          7  860042136979128320           1
7       None          8  860373364768874496           1
8       8154          9  860214724221087744           1
9       None         10  860019033666338816           1
10      None         11  860010803301076992           1
11      8148         12  860011165475012608           1

In [34]:
merge_columns = ['player_id', 'roster_id', 'owner_id']
rosters_full = players.merge(starters, how='left', left_on = merge_columns, right_on = merge_columns)
rosters_full = rosters_full.merge(reserves, how='left', left_on = merge_columns, right_on = merge_columns)
rosters_full = rosters_full.fillna(0)
# all_joined.to_csv('joined_Test.csv')
rosters_full

    player_id  roster_id            owner_id  is_starter  is_reserve
0        3214          1  499807936168587264         1.0         0.0
1        4018          1  499807936168587264         1.0         0.0
2        4866          1  499807936168587264         1.0         0.0
3        5347          1  499807936168587264         0.0         0.0
4        5846          1  499807936168587264         0.0         0.0
..        ...        ...                 ...         ...         ...
214      7042         12  860011165475012608         1.0         0.0
215      7611         12  860011165475012608         0.0         0.0
216      8136         12  860011165475012608         0.0         0.0
217      8146         12  860011165475012608         0.0         0.0
218      8148         12  860011165475012608         0.0         1.0

[219 rows x 5 columns]

In [35]:
# rosters_full = players.join(starters, how='left', rsuffix='starters') #only if we change indices. merge is easier here
# rosters_full

In [36]:
# # df = df[df.score > 50]
# test = all_rosters[all_rosters.player_id > '0']
# test

In [37]:
# ready to join salary info
rosters_full.to_csv("rosters_before_salaries.csv")

### Bring in Initial Salaries

In [75]:
salary_df = pd.read_csv('FullSalaryList.csv')
salary_df

,player,playerId,position,salary,is_franchised,ir_value,unadjusted_salary
0,A.J. Brown,5859,WR,9.0,NaN,NaN,NaN
1,A.J. Green,830,WR,5.0,NaN,NaN,NaN
2,Aaron Jones,4199,RB,8.0,NaN,NaN,NaN
3,Aaron Rodgers,96,QB,18.0,NaN,NaN,NaN
4,AJ Dillon,6828,RB,10.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
180,Pat Freiermuth,7600,TE,6.0,NaN,NaN,NaN
181,Kenneth Walker,4634,RV,15.0,NaN,NaN,NaN
182,Derek Carr,1718,QB,6.0,NaN,NaN,NaN
183,Ezekiel Elliott,3164,RB,39.0,NaN,NaN,NaN
184,Patrick Mahomes,4046,QB,9.0,NaN,NaN,NaN

In [76]:
#list of franchised players
salary_df.loc[salary_df['is_franchised']==1]

,player,playerId,position,salary,is_franchised,ir_value,unadjusted_salary
9,Amari Cooper,2309,WR,7.0,1.0,NaN,50
29,Clyde Edwards-Helaire,6820,RB,5.0,1.0,NaN,31
37,Dak Prescott,3294,QB,4.0,1.0,NaN,23
85,Jerry Jeudy,6783,WR,9.0,1.0,NaN,22
91,Josh Jacobs,5850,RB,14.0,1.0,NaN,34
102,Kyler Murray,5849,QB,4.0,1.0,NaN,22
108,Mark Ingram II,956,RB,0.0,1.0,NaN,63
118,Michael Thomas,3199,WR,4.0,1.0,NaN,28
123,Miles Sanders,6151,RB,9.0,1.0,NaN,58
149,T.J. Hockenson,5844,TE,4.0,1.0,NaN,24
176,Julio Jones,947,WR,0.0,1.0,NaN,$61

In [77]:
# players on IR
salary_df.loc[salary_df.ir_value > 0 ]

,player,playerId,position,salary,is_franchised,ir_value,unadjusted_salary
18,Brian Robinson,8154,RB,0.0,NaN,5.0,NaN
66,Gus Edwards,5248,RB,NaN,NaN,6.0,NaN
80,Jameson Williams,8148,WR,NaN,NaN,10.0,NaN
117,Michael Gallup,5038,WR,0.0,NaN,6.0,NaN

In [78]:
# salary_df[['playerId']] = salary_df[['playerId']].astype(str)
# salary_df
salary_df.dtypes

player                object
playerId               int64
position              object
salary               float64
is_franchised        float64
ir_value             float64
unadjusted_salary     object
dtype: object

In [79]:
salary_col_to_drop = ['player', 'position']
salary_df_final = salary_df.drop(salary_col_to_drop, axis=1)
salary_df_final = salary_df_final.fillna(0)
salary_df_final

     playerId  salary  is_franchised  ir_value unadjusted_salary
0        5859     9.0            0.0       0.0                 0
1         830     5.0            0.0       0.0                 0
2        4199     8.0            0.0       0.0                 0
3          96    18.0            0.0       0.0                 0
4        6828    10.0            0.0       0.0                 0
..        ...     ...            ...       ...               ...
180      7600     6.0            0.0       0.0                 0
181      4634    15.0            0.0       0.0                 0
182      1718     6.0            0.0       0.0                 0
183      3164    39.0            0.0       0.0                 0
184      4046     9.0            0.0       0.0                 0

[185 rows x 5 columns]

In [80]:
salary_df_final = salary_df_final.rename(columns = {'playerId':'player_id'})
salary_df_final

     player_id  salary  is_franchised  ir_value unadjusted_salary
0         5859     9.0            0.0       0.0                 0
1          830     5.0            0.0       0.0                 0
2         4199     8.0            0.0       0.0                 0
3           96    18.0            0.0       0.0                 0
4         6828    10.0            0.0       0.0                 0
..         ...     ...            ...       ...               ...
180       7600     6.0            0.0       0.0                 0
181       4634    15.0            0.0       0.0                 0
182       1718     6.0            0.0       0.0                 0
183       3164    39.0            0.0       0.0                 0
184       4046     9.0            0.0       0.0                 0

[185 rows x 5 columns]

In [81]:
#sanity check to make sure we still have ir and franchise values
salary_df_final[(salary_df_final.ir_value > 0) | (salary_df_final.is_franchised > 0)]

     player_id  salary  is_franchised  ir_value unadjusted_salary
9         2309     7.0            1.0       0.0                50
18        8154     0.0            0.0       5.0                 0
29        6820     5.0            1.0       0.0                31
37        3294     4.0            1.0       0.0                23
66        5248     0.0            0.0       6.0                 0
80        8148     0.0            0.0      10.0                 0
85        6783     9.0            1.0       0.0                22
91        5850    14.0            1.0       0.0                34
102       5849     4.0            1.0       0.0                22
108        956     0.0            1.0       0.0                63
117       5038     0.0            0.0       6.0                 0
118       3199     4.0            1.0       0.0                28
123       6151     9.0            1.0       0.0                58
149       5844     4.0            1.0       0.0                24
176        947     0.0            1.0       0.0              $61

In [82]:
# player = getPlayerFullNameByPlayerId('8154')
# player

In [83]:
salary_df_final.dtypes

player_id              int64
salary               float64
is_franchised        float64
ir_value             float64
unadjusted_salary     object
dtype: object

### Add Salary Info to Roster Info

In [84]:
rosters_full

     player_id  roster_id            owner_id  is_starter  is_reserve
0         3214          1  499807936168587264         1.0         0.0
1         4018          1  499807936168587264         1.0         0.0
2         4866          1  499807936168587264         1.0         0.0
3         5347          1  499807936168587264         0.0         0.0
4         5846          1  499807936168587264         0.0         0.0
..         ...        ...                 ...         ...         ...
214       7042         12  860011165475012608         1.0         0.0
215       7611         12  860011165475012608         0.0         0.0
216       8136         12  860011165475012608         0.0         0.0
217       8146         12  860011165475012608         0.0         0.0
218       8148         12  860011165475012608         0.0         1.0

[219 rows x 5 columns]

In [85]:
rosters_full['player_id'] = pd.to_numeric(rosters_full['player_id'])
rosters_full.dtypes

player_id       int64
roster_id       int64
owner_id       object
is_starter    float64
is_reserve    float64
dtype: object

In [86]:
salary_roster = rosters_full.merge(salary_df_final, left_on = 'player_id', right_on = 'player_id', how = 'left' )
salary_roster

,player_id,roster_id,owner_id,is_starter,is_reserve,salary,is_franchised,ir_value,unadjusted_salary
0,3214,1,499807936168587264,1.0,0.0,5.0,0.0,0.0,0
1,4018,1,499807936168587264,1.0,0.0,32.0,0.0,0.0,0
2,4866,1,499807936168587264,1.0,0.0,37.0,0.0,0.0,0
3,5347,1,499807936168587264,0.0,0.0,NaN,NaN,NaN,NaN
4,5846,1,499807936168587264,0.0,0.0,7.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...
214,7042,12,860011165475012608,1.0,0.0,NaN,NaN,NaN,NaN
215,7611,12,860011165475012608,0.0,0.0,5.0,0.0,0.0,0
216,8136,12,860011165475012608,0.0,0.0,5.0,0.0,0.0,0
217,8146,12,860011165475012608,0.0,0.0,10.0,0.0,0.0,0
218,8148,12,860011165475012608,0.0,1.0,0.0,0.0,10.0,0

In [87]:
salary_roster.to_sql("rosters", conn, if_exists='replace')
salary_roster.to_csv('roster_with_salaries.csv')

In [88]:
league_df_str = league_df.astype(str)

In [89]:
league_df_str.to_sql("teams", conn, if_exists='replace')
league_df_str.to_csv("team_info.csv")
league_df_str

,user_id,settings,metadata,league_id,is_owner,is_bot,display_name,avatar1,team_name,mention_pn,...,trade_block_pn,join_voice_pn,user_message_pn,transaction_commissioner,transaction_free_agent,transaction_trade,transaction_waiver,player_like_pn,mascot_message,player_nickname_update
0,499807936168587264,None,"{'team_name': 'KnightHawks', 'mention_pn': 'on...",859990766557179904,True,False,EAGLEi,e509f18787482ccd84ae83d0976f9d55,KnightHawks,on,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,741506726259523584,None,"{'team_name': 'MeNajee Trois', 'mention_pn': '...",859990766557179904,False,False,menty,15d7cf259bc30eab8f6120f45f652fb6,MeNajee Trois,on,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,741517785796116480,None,"{'team_name': 'Great Britton', 'show_mascots':...",859990766557179904,False,False,Wotastic,a35038904664ff0d447f3eba9c3a2398,Great Britton,on,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,860010058744963072,None,"{'mascot_item_type_id_leg_6': 'panpan', 'masco...",859990766557179904,True,False,skwichmer,d58d89cf3f7f98918ae1ba4e558a94de,Resident Stevil,on,...,on,off,off,on,on,on,on,on,on,off
4,860010803301076992,None,"{'team_name': 'War Machine', 'mention_pn': 'on...",859990766557179904,False,False,JimmerzK,76a35a84af0ea9e4f13dca9c2f13611f,War Machine,on,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
5,860011165475012608,None,"{'team_name': 'Healthy Scratch ', 'show_mascot...",859990766557179904,False,False,HealthyScratch7,37259ac49f7d87ac18c6acfaba1e47a8,Healthy Scratch,on,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
6,860019033666338816,None,"{'team_name': 'Hair Force Blue', 'mention_pn':...",859990766557179904,False,False,AmmoMike,4f4090e5e9c3941414db40a871e3e909,Hair Force Blue,on,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
7,860042136979128320,None,"{'team_name': 'Monarchs', 'mention_pn': 'on', ...",859990766557179904,False,False,rightofcenter77,8eb8f8bf999945d523f2c4033f70473e,Monarchs,on,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
8,860214724221087744,None,"{'mention_pn': 'on', 'avatar': 'https://sleepe...",859990766557179904,False,False,RLTHAWKS,4f4090e5e9c3941414db40a871e3e909,RLTHAWKS,on,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
9,860373364768874496,None,"{'user_message_pn': 'off', 'transaction_waiver...",859990766557179904,False,False,werkmonsters,8eb8f8bf999945d523f2c4033f70473e,Werkmonsters,on,...,off,off,off,off,off,off,off,off,off,off
10,860612709442498560,None,"{'team_name': 'Redskins', 'show_mascots': 'off...",859990766557179904,False,False,twichmer,f02ffbb14a6c052ec139ba0747206aa6,Redskins,on,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [90]:
# create a cursor
c = conn.cursor()

sql = "select r.*, p.position, p.full_name from rosters r left outer join players p on p.player_id = r.player_id where roster_id = 1"
c.execute(sql)
roster1 = c.fetchall()
# roster1

### Useful Functions

In [91]:
def getPlayerFullNameByPlayerId(playerId):
    c = conn.cursor()
    p = playerId
    sql = f'select full_name from players where player_id = {p}'
    c.execute(sql)
    player = c.fetchone()[0]
    conn.commit()
    return player

In [92]:
test = getPlayerFullNameByPlayerId('5870')
test

'Daniel Jones'

In [93]:
def getRosterByRosterId(rosterId):
    c = conn.cursor()
    sql = f"select r.*, p.position, p.full_name from rosters r left outer join players p on p.player_id = r.player_id where roster_id = {rosterId}"
    c.execute(sql)
    roster = c.fetchall()
    conn.commit()
    return roster

In [94]:
def getRosterDFByRosterId(rosterId):
    data = getRosterByRosterId(rosterId)
    df = pd.DataFrame(data, columns =['id', 'player_id', 'roster_id', 'owner_id', 'is_starter', 'is_reserve', 'salary', 'is_franchised', 'ir_value', 'unadjusted_salary', 'position', 'full_name'])
    df['salary'] = pd.to_numeric(df['salary'])
    return df

In [95]:
my_roster_df = getRosterDFByRosterId(12)
my_roster_df

,id,player_id,roster_id,owner_id,is_starter,is_reserve,salary,is_franchised,ir_value,unadjusted_salary,position,full_name
0,200,2505,12,860011165475012608,0.0,0.0,9.0,0.0,0.0,19,TE,Darren Waller
1,201,3198,12,860011165475012608,1.0,0.0,8.0,0.0,0.0,0,RB,Derrick Henry
2,202,4950,12,860011165475012608,1.0,0.0,5.0,0.0,0.0,0,WR,Christian Kirk
3,203,5000,12,860011165475012608,1.0,0.0,6.0,0.0,0.0,0,RB,Chase Edmonds
4,204,5012,12,860011165475012608,1.0,0.0,9.0,0.0,0.0,0,TE,Mark Andrews
5,205,5086,12,860011165475012608,0.0,0.0,NaN,NaN,NaN,None,WR,Marquez Valdes-Scantling
6,206,5859,12,860011165475012608,1.0,0.0,9.0,0.0,0.0,0,WR,A.J. Brown
7,207,5870,12,860011165475012608,0.0,0.0,5.0,0.0,0.0,0,QB,Daniel Jones
8,208,6130,12,860011165475012608,0.0,0.0,NaN,NaN,NaN,None,RB,Devin Singletary
9,209,6797,12,860011165475012608,1.0,0.0,6.0,0.0,0.0,0,QB,Justin Herbert
10,210,6803,12,860011165475012608,0.0,0.0,12.0,0.0,0.0,0,WR,Brandon Aiyuk
11,211,6820,12,860011165475012608,1.0,0.0,5.0,1.0,0.0,31,RB,Clyde Edwards-Helaire
12,212,6886,12,860011165475012608,0.0,0.0,19.0,0.0,0.0,0,WR,Chase Claypool
13,213,6938,12,860011165475012608,0.0,0.0,21.0,0.0,0.0,0,RB,Cam Akers
14,214,7042,12,860011165475012608,1.0,0.0,NaN,NaN,NaN,None,K,Tyler Bass
15,215,7611,12,860011165475012608,0.0,0.0,5.0,0.0,0.0,0,RB,Rhamondre Stevenson
16,216,8136,12,860011165475012608,0.0,0.0,5.0,0.0,0.0,0,RB,Rachaad White
17,217,8146,12,860011165475012608,0.0,0.0,10.0,0.0,0.0,0,WR,Garrett Wilson
18,218,8148,12,860011165475012608,0.0,1.0,0.0,0.0,10.0,0,WR,Jameson Williams

In [96]:
# get remaining cap space
def getActiveRosterUsedCapByRosterId(rosterId):
    df = getRosterDFByRosterId(rosterId)
    return(df.salary.sum())

In [97]:
test = getActiveRosterUsedCapByRosterId(12)
test

134.0

In [98]:
def getOwnerIdByRosterId(rosterId):
    c = conn.cursor()
    sql = f"select r.owner_id from rosters r where roster_id = {rosterId}"
    c.execute(sql)
    owner_id = c.fetchone()[0]
    conn.commit()
    return owner_id

In [99]:
def getTeamNameByOwnerId(ownerId):
    c = conn.cursor()
    sql = f"select team_name from teams where user_id = {ownerId}"
    c.execute(sql)
    teamName = ''
    result = c.fetchone()
    if (result):
        teamName = result[0]
    conn.commit()
    return teamName

In [100]:
# owner = getOwnerIdByRosterId(1)
# owner

In [101]:
# team_name = getTeamNameByOwnerId(owner)
# team_name

In [102]:
#dropped player salary logic and other salary adjustments

### Bring in Salary Adjustments

In [103]:
adjustments_df = pd.read_csv('SalaryHoldovers.csv')
adjustments_df

,player_id,cap_hold,team_id,hold_type,transaction_date,expiration_date
0,2505,10.0,741517785796116480,t,8/28/2022,6/1/2023
1,5870,0.3,860011165475012608,d,9/15/2022,6/1/2023

In [104]:
adjustments_df.to_sql("salary_adjustments", conn, if_exists='replace')

In [105]:
def getAdjustmentsByRosterId(rosterId):
    team_id = getOwnerIdByRosterId(rosterId)
    c = conn.cursor()
    sql = f"select adj.*, p.position, p.full_name from salary_adjustments adj left outer join players p on p.player_id = adj.player_id where team_id = {team_id}"
    c.execute(sql)
    roster = c.fetchall()
    conn.commit()
    return roster

In [106]:
def getAdjustmentsDFByRosterId(rosterId):
    data = getAdjustmentsByRosterId(rosterId)
    df = ''
    if (data):
        df = pd.DataFrame(data, columns =['id', 'player_id', 'cap_hold', 'team_id', 'hold_type', 'transaction_date', 'expiration_date', 'position', 'full_name'])
    return df

In [107]:
def getHoldCapSpaceByRosterId(rosterId):
    sum = 0
    df = getAdjustmentsDFByRosterId(rosterId)
    if isinstance(df, pd.DataFrame):
        sum = df.cap_hold.sum()
    return sum

In [108]:
b = getAdjustmentsDFByRosterId(6)
b

,id,player_id,cap_hold,team_id,hold_type,transaction_date,expiration_date,position,full_name
0,0,2505,10.0,741517785796116480,t,8/28/2022,6/1/2023,TE,Darren Waller

In [109]:
c = getHoldCapSpaceByRosterId(6)
c

10.0

In [110]:
def getUsedCapByRosterId(rosterId):
    active_sum = getActiveRosterUsedCapByRosterId(rosterId)
    hold_sum = getHoldCapSpaceByRosterId(rosterId)
    return (active_sum + hold_sum)

In [111]:
myList = []
for x in range(1,13):
    print(x)
    teamId = getOwnerIdByRosterId(x)
    teamName = getTeamNameByOwnerId(teamId)
    total = getUsedCapByRosterId(x)
    print(f'team: {x}, teamId: {teamId}, teamName: {teamName}')
    print(total)
    myTuple = (teamId, x, teamName, total, 200-total)
    print(myTuple)
    myList.append(myTuple)
# getOwnerIdByRosterId(2)

1
team: 1, teamId: 499807936168587264, teamName: KnightHawks
185.0
('499807936168587264', 1, 'KnightHawks', 185.0, 15.0)
2
team: 2, teamId: 860010058744963072, teamName: Resident Stevil
153.0
('860010058744963072', 2, 'Resident Stevil', 153.0, 47.0)
3
team: 3, teamId: 0, teamName:
157.0
('0', 3, '', 157.0, 43.0)
4
team: 4, teamId: 741506726259523584, teamName: MeNajee Trois
175.0
('741506726259523584', 4, 'MeNajee Trois', 175.0, 25.0)
5
team: 5, teamId: 860612709442498560, teamName: Redskins
151.0
('860612709442498560', 5, 'Redskins', 151.0, 49.0)
6
team: 6, teamId: 741517785796116480, teamName: Great Britton
140.0
('741517785796116480', 6, 'Great Britton', 140.0, 60.0)
7
team: 7, teamId: 860042136979128320, teamName: Monarchs
164.0
('860042136979128320', 7, 'Monarchs', 164.0, 36.0)
8
team: 8, teamId: 860373364768874496, teamName: Werkmonsters
188.0
('860373364768874496', 8, 'Werkmonsters', 188.0, 12.0)
9
team: 9, teamId: 860214724221087744, teamName: RLTHAWKS
181.0
('860214724221087744', 9, 'RLTHAWKS', 181.0, 19.0)
10
team: 10, teamId: 860019033666338816, teamName: Hair Force Blue
136.0
('860019033666338816', 10, 'Hair Force Blue', 136.0, 64.0)
11
team: 11, teamId: 860010803301076992, teamName: War Machine
126.0
('860010803301076992', 11, 'War Machine', 126.0, 74.0)
12
team: 12, teamId: 860011165475012608, teamName: Healthy Scratch
134.3
('860011165475012608', 12, 'Healthy Scratch ', 134.3, 65.69999999999999)

In [112]:
myList

[('499807936168587264', 1, 'KnightHawks', 185.0, 15.0),
 ('860010058744963072', 2, 'Resident Stevil', 153.0, 47.0),
 ('0', 3, '', 157.0, 43.0),
 ('741506726259523584', 4, 'MeNajee Trois', 175.0, 25.0),
 ('860612709442498560', 5, 'Redskins', 151.0, 49.0),
 ('741517785796116480', 6, 'Great Britton', 140.0, 60.0),
 ('860042136979128320', 7, 'Monarchs', 164.0, 36.0),
 ('860373364768874496', 8, 'Werkmonsters', 188.0, 12.0),
 ('860214724221087744', 9, 'RLTHAWKS', 181.0, 19.0),
 ('860019033666338816', 10, 'Hair Force Blue', 136.0, 64.0),
 ('860010803301076992', 11, 'War Machine', 126.0, 74.0),
 ('860011165475012608', 12, 'Healthy Scratch ', 134.3, 65.69999999999999)]

In [113]:
salary_summary_df = pd.DataFrame(myList, columns =['team_id', 'roster_id', 'team_name', 'used_salary', 'available_salary'])
salary_summary_df

,team_id,roster_id,team_name,used_salary,available_salary
0,499807936168587264,1,KnightHawks,185.0,15.0
1,860010058744963072,2,Resident Stevil,153.0,47.0
2,0,3,,157.0,43.0
3,741506726259523584,4,MeNajee Trois,175.0,25.0
4,860612709442498560,5,Redskins,151.0,49.0
5,741517785796116480,6,Great Britton,140.0,60.0
6,860042136979128320,7,Monarchs,164.0,36.0
7,860373364768874496,8,Werkmonsters,188.0,12.0
8,860214724221087744,9,RLTHAWKS,181.0,19.0
9,860019033666338816,10,Hair Force Blue,136.0,64.0
10,860010803301076992,11,War Machine,126.0,74.0
11,860011165475012608,12,Healthy Scratch,134.3,65.7

In [115]:
warmachine = getRosterDFByRosterId(11)
warmachine

,id,player_id,roster_id,owner_id,is_starter,is_reserve,salary,is_franchised,ir_value,unadjusted_salary,position,full_name
0,182,1348,11,860010803301076992,1.0,0.0,NaN,NaN,NaN,None,K,Dustin Hopkins
1,183,1689,11,860010803301076992,0.0,0.0,11.0,0.0,0.0,0,WR,Adam Thielen
2,184,1992,11,860010803301076992,1.0,0.0,8.0,0.0,0.0,0,WR,Allen Robinson
3,185,2028,11,860010803301076992,0.0,0.0,NaN,NaN,NaN,None,QB,Derek Carr
4,186,3164,11,860010803301076992,1.0,0.0,39.0,0.0,0.0,0,RB,Ezekiel Elliott
5,187,4046,11,860010803301076992,1.0,0.0,9.0,0.0,0.0,0,QB,Patrick Mahomes
6,188,6694,11,860010803301076992,0.0,0.0,5.0,0.0,0.0,0,RB,D'Ernest Johnson
7,189,6804,11,860010803301076992,0.0,0.0,5.0,0.0,0.0,0,QB,Jordan Love
8,190,6819,11,860010803301076992,1.0,0.0,12.0,0.0,0.0,0,WR,Michael Pittman
9,191,7525,11,860010803301076992,1.0,0.0,11.0,0.0,0.0,0,WR,DeVonta Smith
10,192,7600,11,860010803301076992,1.0,0.0,6.0,0.0,0.0,0,TE,Pat Freiermuth
11,193,7606,11,860010803301076992,0.0,0.0,5.0,0.0,0.0,0,WR,Kadarius Toney
12,194,7608,11,860010803301076992,0.0,0.0,5.0,0.0,0.0,0,RB,Khalil Herbert
13,195,8130,11,860010803301076992,0.0,0.0,5.0,0.0,0.0,0,TE,Trey McBride
14,196,8138,11,860010803301076992,1.0,0.0,NaN,NaN,NaN,None,RB,James Cook
15,197,8151,11,860010803301076992,0.0,0.0,NaN,NaN,NaN,None,RB,Kenneth Walker
16,198,8153,11,860010803301076992,0.0,0.0,5.0,0.0,0.0,0,RB,Isaiah Spiller
17,199,947,11,860010803301076992,0.0,0.0,0.0,1.0,0.0,$61,WR,Julio Jones

### Bring in Auction Draft

In [179]:
draft_id_url = f'https://api.sleeper.app/v1/league/{LeagueId}/drafts'

response = requests.get(draft_id_url)
drafts = response.json()
auction_id = ''
for draft in drafts:
    print(draft['type'])
    if (draft['type'] == 'auction'):
        auction_id = draft['draft_id']
        print(auction_id)
# draft_id = drafts[0]['draft_id']

auction
863992501013442560
linear
linear

In [180]:
auction_picks_url = f'https://api.sleeper.app/v1/draft/{auction_id}/picks'
response = requests.get(auction_picks_url)
auction = response.json()
auction_df = pd.DataFrame(auction)
auction_df

,round,roster_id,player_id,picked_by,pick_no,metadata,is_keeper,draft_slot,draft_id
0,1,7,ARI,860042136979128320,1,"{'years_exp': '', 'team': 'ARI', 'status': '',...",False,2,863992501013442560
1,1,7,ATL,860042136979128320,2,"{'years_exp': '', 'team': 'ATL', 'status': '',...",False,2,863992501013442560
2,1,7,CAR,860042136979128320,3,"{'years_exp': '', 'team': 'CAR', 'status': '',...",False,2,863992501013442560
3,1,7,CHI,860042136979128320,4,"{'years_exp': '', 'team': 'CHI', 'status': '',...",False,2,863992501013442560
4,1,7,DAL,860042136979128320,5,"{'years_exp': '', 'team': 'DAL', 'status': '',...",False,2,863992501013442560
...,...,...,...,...,...,...,...,...,...
67,6,6,6951,741517785796116480,68,"{'years_exp': '2', 'team': 'ARI', 'status': 'A...",None,10,863992501013442560
68,6,11,1348,860010803301076992,69,"{'years_exp': '9', 'team': 'LAC', 'status': 'A...",None,12,863992501013442560
69,6,4,8126,741506726259523584,70,"{'years_exp': '0', 'team': 'NYG', 'status': 'A...",None,8,863992501013442560
70,6,6,4892,741517785796116480,71,"{'years_exp': '4', 'team': 'CAR', 'status': 'A...",None,10,863992501013442560
71,6,4,6814,741506726259523584,72,"{'years_exp': '2', 'team': 'CAR', 'status': 'A...",None,8,863992501013442560

In [181]:
# p1 = auction_df['metadata'][0]['amount']
# p1
auction_picks = auction_df[(auction_df['is_keeper']!= False) & (auction_df['pick_no']>25)]
auction_picks
auction_metadata = pd.json_normalize(auction_picks['metadata'])
auction_metadata = auction_metadata[['player_id', 'amount', 'last_name', 'first_name']]
auction_metadata

   player_id amount         last_name first_name
0       4040     29    Smith-Schuster       JuJu
1       8138     28              Cook      James
2       5052      1             Jones     Ronald
3       8167      9            Watson  Christian
4       6130     16        Singletary      Devin
5       5185     11            Lazard      Allen
6       7568      3            Jordan     Brevin
7       8131      5            Likely     Isaiah
8       2306      5           Winston     Jameis
9       4033      9             Njoku      David
10      1264      6            Tucker     Justin
11      4981      2            Ridley     Calvin
12      8118      8              Bell      David
13      3242      3             Drake     Kenyan
14      5347      7             Hines     Nyheim
15      6083      6               Gay       Matt
16      7042      5              Bass      Tyler
17      7839      5         McPherson       Evan
18      5086      2  Valdes-Scantling    Marquez
19      4951      2             Chark         DJ
20        17      1            Prater       Matt
21      7527      1             Jones        Mac
22      7594      1           Hubbard      Chuba
23      1433      1           McManus    Brandon
24       650      1              Folk       Nick
25      4973      3             Hurst     Hayden
26      1825      1            Landry     Jarvis
27      5947      1            Meyers     Jakobi
28      4149      1          Williams     Jamaal
29      6951      1          Benjamin        Eno
30      1348      1           Hopkins     Dustin
31      8126      1          Robinson   Wan'Dale
32      4892      1          Mayfield      Baker
33      6814      1          Shenault    Laviska

In [182]:
merge_columns = ['player_id']
auction_full = auction_metadata.merge(auction_picks, how='left', left_on = merge_columns, right_on = merge_columns)
auction_full

,player_id,amount,last_name,first_name,round,roster_id,picked_by,pick_no,metadata,is_keeper,draft_slot,draft_id
0,4040,29,Smith-Schuster,JuJu,3,5,860612709442498560,36,"{'years_exp': '5', 'team': 'KC', 'status': 'Ac...",None,1,863992501013442560
1,8138,28,Cook,James,4,11,860010803301076992,37,"{'years_exp': '0', 'team': 'BUF', 'status': 'A...",None,12,863992501013442560
2,5052,1,Jones,Ronald,4,9,860214724221087744,38,"{'years_exp': '4', 'team': 'KC', 'status': 'Ac...",None,3,863992501013442560
3,8167,9,Watson,Christian,4,2,860010058744963072,42,"{'years_exp': '0', 'team': 'GB', 'status': 'Ac...",None,5,863992501013442560
4,6130,16,Singletary,Devin,4,12,860011165475012608,43,"{'years_exp': '3', 'team': 'BUF', 'status': 'A...",None,7,863992501013442560
5,5185,11,Lazard,Allen,4,4,741506726259523584,44,"{'years_exp': '4', 'team': 'GB', 'status': 'Ac...",None,8,863992501013442560
6,7568,3,Jordan,Brevin,4,2,860010058744963072,45,"{'years_exp': '1', 'team': 'HOU', 'status': 'A...",None,5,863992501013442560
7,8131,5,Likely,Isaiah,4,1,499807936168587264,46,"{'years_exp': '0', 'team': 'BAL', 'status': 'A...",None,9,863992501013442560
8,2306,5,Winston,Jameis,4,5,860612709442498560,47,"{'years_exp': '7', 'team': 'NO', 'status': 'Ac...",None,1,863992501013442560
9,4033,9,Njoku,David,4,10,860019033666338816,48,"{'years_exp': '5', 'team': 'CLE', 'status': 'A...",None,11,863992501013442560
10,1264,6,Tucker,Justin,5,10,860019033666338816,49,"{'years_exp': '10', 'team': 'BAL', 'status': '...",None,11,863992501013442560
11,4981,2,Ridley,Calvin,5,6,741517785796116480,50,"{'years_exp': '4', 'team': 'ATL', 'status': 'I...",None,10,863992501013442560
12,8118,8,Bell,David,5,9,860214724221087744,51,"{'years_exp': '0', 'team': 'CLE', 'status': 'A...",None,3,863992501013442560
13,3242,3,Drake,Kenyan,5,2,860010058744963072,52,"{'years_exp': '6', 'team': 'BAL', 'status': 'A...",None,5,863992501013442560
14,5347,7,Hines,Nyheim,5,1,499807936168587264,53,"{'years_exp': '4', 'team': 'IND', 'status': 'A...",None,9,863992501013442560
15,6083,6,Gay,Matt,5,5,860612709442498560,54,"{'years_exp': '3', 'team': 'LAR', 'status': 'A...",None,1,863992501013442560
16,7042,5,Bass,Tyler,5,12,860011165475012608,55,"{'years_exp': '2', 'team': 'BUF', 'status': 'A...",None,7,863992501013442560
17,7839,5,McPherson,Evan,5,6,741517785796116480,56,"{'years_exp': '1', 'team': 'CIN', 'status': 'A...",None,10,863992501013442560
18,5086,2,Valdes-Scantling,Marquez,5,12,860011165475012608,57,"{'years_exp': '4', 'team': 'KC', 'status': 'Ac...",None,7,863992501013442560
19,4951,2,Chark,DJ,5,2,860010058744963072,58,"{'years_exp': '4', 'team': 'DET', 'status': 'A...",None,5,863992501013442560
20,17,1,Prater,Matt,5,9,860214724221087744,59,"{'years_exp': '16', 'team': 'ARI', 'status': '...",None,3,863992501013442560
21,7527,1,Jones,Mac,5,2,860010058744963072,60,"{'years_exp': '1', 'team': 'NE', 'status': 'Ac...",None,5,863992501013442560
22,7594,1,Hubbard,Chuba,6,3,873775956610285568,61,"{'years_exp': '1', 'team': 'CAR', 'status': 'A...",None,6,863992501013442560
23,1433,1,McManus,Brandon,6,4,741506726259523584,62,"{'years_exp': '9', 'team': 'DEN', 'status': 'A...",None,8,863992501013442560
24,650,1,Folk,Nick,6,1,499807936168587264,63,"{'years_exp': '15', 'team': 'NE', 'status': 'A...",None,9,863992501013442560
25,4973,3,Hurst,Hayden,6,6,741517785796116480,64,"{'years_exp': '4', 'team': 'CIN', 'status': 'A...",None,10,863992501013442560
26,1825,1,Landry,Jarvis,6,2,860010058744963072,65,"{'years_exp': '8', 'team': 'NO', 'status': 'Ac...",None,5,863992501013442560
27,5947,1,Meyers,Jakobi,6,3,873775956610285568,66,"{'years_exp': '3', 'team': 'NE', 'status': 'Ac...",None,6,863992501013442560
28,4149,1,Williams,Jamaal,6,4,741506726259523584,67,"{'years_exp': '5', 'team': 'DET', 'status': 'A...",None,8,863992501013442560
29,6951,1,Benjamin,Eno,6,6,741517785796116480,68,"{'years_exp': '2', 'team': 'ARI', 'status': 'A...",None,10,863992501013442560
30,1348,1,Hopkins,Dustin,6,11,860010803301076992,69,"{'years_exp': '9', 'team': 'LAC', 'status': 'A...",None,12,863992501013442560
31,8126,1,Robinson,Wan'Dale,6,4,741506726259523584,70,"{'years_exp': '0', 'team': 'NYG', 'status': 'A...",None,8,863992501013442560
32,4892,1,Mayfield,Baker,6,6,741517785796116480,71,"{'years_exp': '4', 'team': 'CAR', 'status': 'A...",None,10,863992501013442560
33,6814,1,Shenault,Laviska,6,4,741506726259523584,72,"{'years_exp': '2', 'team': 'CAR', 'status': 'A...",None,8,863992501013442560

In [183]:
auction_full.to_csv('auction_Results_picks_only.csv')

In [184]:
auction_full.columns.to_list()

['player_id',
 'amount',
 'last_name',
 'first_name',
 'round',
 'roster_id',
 'picked_by',
 'pick_no',
 'metadata',
 'is_keeper',
 'draft_slot',
 'draft_id']

In [185]:
columns_to_drop = [ 'last_name', 'first_name', 'round', 'pick_no', 'metadata', 'is_keeper', 'draft_slot', 'draft_id']
auction_full = auction_full.drop(columns_to_drop, axis=1)

In [186]:
auction_full['is_starter'] = 0
auction_full['is_reserve'] = 0
auction_full['is_franchised'] = 0
auction_full['ir_value'] = 0
auction_full['unadjusted_salary'] = 0
auction_full

,player_id,amount,roster_id,picked_by,is_starter,is_reserve,is_franchised,ir_value,unadjusted_salary
0,4040,29,5,860612709442498560,0,0,0,0,0
1,8138,28,11,860010803301076992,0,0,0,0,0
2,5052,1,9,860214724221087744,0,0,0,0,0
3,8167,9,2,860010058744963072,0,0,0,0,0
4,6130,16,12,860011165475012608,0,0,0,0,0
5,5185,11,4,741506726259523584,0,0,0,0,0
6,7568,3,2,860010058744963072,0,0,0,0,0
7,8131,5,1,499807936168587264,0,0,0,0,0
8,2306,5,5,860612709442498560,0,0,0,0,0
9,4033,9,10,860019033666338816,0,0,0,0,0
10,1264,6,10,860019033666338816,0,0,0,0,0
11,4981,2,6,741517785796116480,0,0,0,0,0
12,8118,8,9,860214724221087744,0,0,0,0,0
13,3242,3,2,860010058744963072,0,0,0,0,0
14,5347,7,1,499807936168587264,0,0,0,0,0
15,6083,6,5,860612709442498560,0,0,0,0,0
16,7042,5,12,860011165475012608,0,0,0,0,0
17,7839,5,6,741517785796116480,0,0,0,0,0
18,5086,2,12,860011165475012608,0,0,0,0,0
19,4951,2,2,860010058744963072,0,0,0,0,0
20,17,1,9,860214724221087744,0,0,0,0,0
21,7527,1,2,860010058744963072,0,0,0,0,0
22,7594,1,3,873775956610285568,0,0,0,0,0
23,1433,1,4,741506726259523584,0,0,0,0,0
24,650,1,1,499807936168587264,0,0,0,0,0
25,4973,3,6,741517785796116480,0,0,0,0,0
26,1825,1,2,860010058744963072,0,0,0,0,0
27,5947,1,3,873775956610285568,0,0,0,0,0
28,4149,1,4,741506726259523584,0,0,0,0,0
29,6951,1,6,741517785796116480,0,0,0,0,0
30,1348,1,11,860010803301076992,0,0,0,0,0
31,8126,1,4,741506726259523584,0,0,0,0,0
32,4892,1,6,741517785796116480,0,0,0,0,0
33,6814,1,4,741506726259523584,0,0,0,0,0

In [187]:
auction_full = auction_full[['player_id', 'roster_id', 'picked_by', 'is_starter', 'is_reserve', 'amount', 'is_franchised', 'ir_value', 'unadjusted_salary']]
auction_full

,player_id,roster_id,picked_by,is_starter,is_reserve,amount,is_franchised,ir_value,unadjusted_salary
0,4040,5,860612709442498560,0,0,29,0,0,0
1,8138,11,860010803301076992,0,0,28,0,0,0
2,5052,9,860214724221087744,0,0,1,0,0,0
3,8167,2,860010058744963072,0,0,9,0,0,0
4,6130,12,860011165475012608,0,0,16,0,0,0
5,5185,4,741506726259523584,0,0,11,0,0,0
6,7568,2,860010058744963072,0,0,3,0,0,0
7,8131,1,499807936168587264,0,0,5,0,0,0
8,2306,5,860612709442498560,0,0,5,0,0,0
9,4033,10,860019033666338816,0,0,9,0,0,0
10,1264,10,860019033666338816,0,0,6,0,0,0
11,4981,6,741517785796116480,0,0,2,0,0,0
12,8118,9,860214724221087744,0,0,8,0,0,0
13,3242,2,860010058744963072,0,0,3,0,0,0
14,5347,1,499807936168587264,0,0,7,0,0,0
15,6083,5,860612709442498560,0,0,6,0,0,0
16,7042,12,860011165475012608,0,0,5,0,0,0
17,7839,6,741517785796116480,0,0,5,0,0,0
18,5086,12,860011165475012608,0,0,2,0,0,0
19,4951,2,860010058744963072,0,0,2,0,0,0
20,17,9,860214724221087744,0,0,1,0,0,0
21,7527,2,860010058744963072,0,0,1,0,0,0
22,7594,3,873775956610285568,0,0,1,0,0,0
23,1433,4,741506726259523584,0,0,1,0,0,0
24,650,1,499807936168587264,0,0,1,0,0,0
25,4973,6,741517785796116480,0,0,3,0,0,0
26,1825,2,860010058744963072,0,0,1,0,0,0
27,5947,3,873775956610285568,0,0,1,0,0,0
28,4149,4,741506726259523584,0,0,1,0,0,0
29,6951,6,741517785796116480,0,0,1,0,0,0
30,1348,11,860010803301076992,0,0,1,0,0,0
31,8126,4,741506726259523584,0,0,1,0,0,0
32,4892,6,741517785796116480,0,0,1,0,0,0
33,6814,4,741506726259523584,0,0,1,0,0,0

In [188]:
auction_full = auction_full.rename(columns = {'amount':'salary', 'picked_by':'owner_id'}) 
auction_full

,player_id,roster_id,owner_id,is_starter,is_reserve,salary,is_franchised,ir_value,unadjusted_salary
0,4040,5,860612709442498560,0,0,29,0,0,0
1,8138,11,860010803301076992,0,0,28,0,0,0
2,5052,9,860214724221087744,0,0,1,0,0,0
3,8167,2,860010058744963072,0,0,9,0,0,0
4,6130,12,860011165475012608,0,0,16,0,0,0
5,5185,4,741506726259523584,0,0,11,0,0,0
6,7568,2,860010058744963072,0,0,3,0,0,0
7,8131,1,499807936168587264,0,0,5,0,0,0
8,2306,5,860612709442498560,0,0,5,0,0,0
9,4033,10,860019033666338816,0,0,9,0,0,0
10,1264,10,860019033666338816,0,0,6,0,0,0
11,4981,6,741517785796116480,0,0,2,0,0,0
12,8118,9,860214724221087744,0,0,8,0,0,0
13,3242,2,860010058744963072,0,0,3,0,0,0
14,5347,1,499807936168587264,0,0,7,0,0,0
15,6083,5,860612709442498560,0,0,6,0,0,0
16,7042,12,860011165475012608,0,0,5,0,0,0
17,7839,6,741517785796116480,0,0,5,0,0,0
18,5086,12,860011165475012608,0,0,2,0,0,0
19,4951,2,860010058744963072,0,0,2,0,0,0
20,17,9,860214724221087744,0,0,1,0,0,0
21,7527,2,860010058744963072,0,0,1,0,0,0
22,7594,3,873775956610285568,0,0,1,0,0,0
23,1433,4,741506726259523584,0,0,1,0,0,0
24,650,1,499807936168587264,0,0,1,0,0,0
25,4973,6,741517785796116480,0,0,3,0,0,0
26,1825,2,860010058744963072,0,0,1,0,0,0
27,5947,3,873775956610285568,0,0,1,0,0,0
28,4149,4,741506726259523584,0,0,1,0,0,0
29,6951,6,741517785796116480,0,0,1,0,0,0
30,1348,11,860010803301076992,0,0,1,0,0,0
31,8126,4,741506726259523584,0,0,1,0,0,0
32,4892,6,741517785796116480,0,0,1,0,0,0
33,6814,4,741506726259523584,0,0,1,0,0,0

In [189]:
auction_full.to_sql("rosters", conn, if_exists='append')

In [190]:
healthyscratch = getRosterDFByRosterId(12)
healthyscratch

,id,player_id,roster_id,owner_id,is_starter,is_reserve,salary,is_franchised,ir_value,unadjusted_salary,position,full_name
0,200,2505,12,860011165475012608,0.0,0.0,9.0,0.0,0.0,19,TE,Darren Waller
1,201,3198,12,860011165475012608,1.0,0.0,8.0,0.0,0.0,0,RB,Derrick Henry
2,202,4950,12,860011165475012608,1.0,0.0,5.0,0.0,0.0,0,WR,Christian Kirk
3,203,5000,12,860011165475012608,1.0,0.0,6.0,0.0,0.0,0,RB,Chase Edmonds
4,204,5012,12,860011165475012608,1.0,0.0,9.0,0.0,0.0,0,TE,Mark Andrews
5,205,5086,12,860011165475012608,0.0,0.0,NaN,NaN,NaN,None,WR,Marquez Valdes-Scantling
6,206,5859,12,860011165475012608,1.0,0.0,9.0,0.0,0.0,0,WR,A.J. Brown
7,207,5870,12,860011165475012608,0.0,0.0,5.0,0.0,0.0,0,QB,Daniel Jones
8,208,6130,12,860011165475012608,0.0,0.0,NaN,NaN,NaN,None,RB,Devin Singletary
9,209,6797,12,860011165475012608,1.0,0.0,6.0,0.0,0.0,0,QB,Justin Herbert
10,210,6803,12,860011165475012608,0.0,0.0,12.0,0.0,0.0,0,WR,Brandon Aiyuk
11,211,6820,12,860011165475012608,1.0,0.0,5.0,1.0,0.0,31,RB,Clyde Edwards-Helaire
12,212,6886,12,860011165475012608,0.0,0.0,19.0,0.0,0.0,0,WR,Chase Claypool
13,213,6938,12,860011165475012608,0.0,0.0,21.0,0.0,0.0,0,RB,Cam Akers
14,214,7042,12,860011165475012608,1.0,0.0,NaN,NaN,NaN,None,K,Tyler Bass
15,215,7611,12,860011165475012608,0.0,0.0,5.0,0.0,0.0,0,RB,Rhamondre Stevenson
16,216,8136,12,860011165475012608,0.0,0.0,5.0,0.0,0.0,0,RB,Rachaad White
17,217,8146,12,860011165475012608,0.0,0.0,10.0,0.0,0.0,0,WR,Garrett Wilson
18,218,8148,12,860011165475012608,0.0,1.0,0.0,0.0,10.0,0,WR,Jameson Williams
19,4,6130,12,860011165475012608,0.0,0.0,16.0,0.0,0.0,0,RB,Devin Singletary
20,16,7042,12,860011165475012608,0.0,0.0,5.0,0.0,0.0,0,K,Tyler Bass
21,18,5086,12,860011165475012608,0.0,0.0,2.0,0.0,0.0,0,WR,Marquez Valdes-Scantling

In [193]:
test = getRosterDFByRosterId(3)
test

,id,player_id,roster_id,owner_id,is_starter,is_reserve,salary,is_franchised,ir_value,unadjusted_salary,position,full_name
0,36,1067,3,0,0.0,0.0,8.0,0.0,0.0,0,WR,Marvin Jones
1,37,1234,3,0,1.0,0.0,34.0,0.0,0.0,0,QB,Russell Wilson
2,38,1386,3,0,0.0,0.0,10.0,0.0,0.0,0,RB,Giovani Bernard
3,39,1476,3,0,0.0,0.0,6.0,0.0,0.0,0,RB,Latavius Murray
4,40,2309,3,0,1.0,0.0,7.0,1.0,0.0,50,WR,Amari Cooper
5,41,2378,3,0,0.0,0.0,5.0,0.0,0.0,0,RB,Tevin Coleman
6,42,2391,3,0,0.0,0.0,5.0,0.0,0.0,0,RB,David Johnson
7,43,3163,3,0,0.0,0.0,5.0,0.0,0.0,0,QB,Jared Goff
8,44,3664,3,0,1.0,0.0,6.0,0.0,0.0,0,RB,J.D. McKissic
9,45,367,3,0,1.0,0.0,5.0,0.0,0.0,0,TE,Jared Cook
10,46,391,3,0,1.0,0.0,6.0,0.0,0.0,0,K,Ryan Succop
11,47,4199,3,0,1.0,0.0,8.0,0.0,0.0,0,RB,Aaron Jones
12,48,5872,3,0,1.0,0.0,10.0,0.0,0.0,0,WR,Deebo Samuel
13,49,5947,3,0,0.0,0.0,NaN,NaN,NaN,None,WR,Jakobi Meyers
14,50,7564,3,0,1.0,0.0,17.0,0.0,0.0,0,WR,Ja'Marr Chase
15,51,7594,3,0,0.0,0.0,NaN,NaN,NaN,None,RB,Chuba Hubbard
16,52,8112,3,0,0.0,0.0,20.0,0.0,0.0,0,WR,Drake London
17,53,8139,3,0,0.0,0.0,5.0,0.0,0.0,0,RB,Zamir White
18,22,7594,3,873775956610285568,0.0,0.0,1.0,0.0,0.0,0,RB,Chuba Hubbard
19,27,5947,3,873775956610285568,0.0,0.0,1.0,0.0,0.0,0,WR,Jakobi Meyers

In [195]:
cap = getActiveRosterUsedCapByRosterId(3)
cap

159.0